@{
    ViewData["Title"] = "Home Page";
}
<header class="index-header">
    <div id="bg-img1" class="bg-img"></div>
    <div id="bg-img2" class="bg-img"></div>
    <div id="bg-img3" class="bg-img"></div>
    <div id="bg-img4" class="bg-img"></div>
    <div class="header-content">
        <h1 class="index-prime-head">
            Welcome to <br />KhumaloCraft<br /> Emporium
        </h1>
        </h1>
        <p class="index-sec-head">Where every piece tells a story</p>
        <a class="index-btn" href="@Url.Action("About", "Home")">Learn More</a>
    </div>
</header>