@{
    int userId = Context.Session.GetInt32("UserId") ?? 0;
    string userName = Context.Session.GetString("UserName");
    string userSurname = Context.Session.GetString("UserSurname");
    string userEmail = Context.Session.GetString("UserEmail");
}
<style>
    /* Success Message Styles */
    body {
        background-color: var(--kc-main-bg);
        color: var(--kc-main-text);
        font-family: 'Arial', sans-serif;
        text-align: center;
        align-content: center;
    }

    .success {
        background-color: var(--kc-secondary-bg);
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        margin: 10rem auto 20px auto;
    }

    .success h2 {
        margin-bottom: 15px;
        font-size: 24px;
        font-weight: bold;
        color: var(--kc-main-text);
    }

    .success ul {
        list-style-type: none;
        padding: 0;
    }

    .success li {
        margin-bottom: 10px;
        font-size: 18px;
        color: var(--kc-main-text);
    }
</style>


<div class="success">
    <h2>Login Successful!</h2>
    <p>Welcome, @userName @userSurname!</p>
    <ul>
        <li>User ID: @userId</li>
        <li>Email: @userEmail</li>
    </ul>
</div>
