/* Site-wide CSS */
:root {
    --kc-main-bg: #F5F1E6; /* Main background color */
    --kc-secondary-bg: #EDE6DB; /* Secondary background color */
    --kc-main-text: #5C3A1E; /* Main text color */
    --kc-secondary-text: #7D6B55; /* Secondary text color */
    --kc-accent-text: #DAA520; /* Accent text color */
    --kc-navbar-bg: #5C3A1E; /* Navbar background color */
    --kc-navbar-text: #FFFFFF; /* Navbar text color */
    --kc-button-bg: #DAA520; /* Button background color */
    --kc-button-text: #FFFFFF; /* Button text color */
    --kc-footer-bg: #40342A; /* Footer background color */
    --kc-highlight-color: #C27B00; /* Highlight color  (hover, active, etc.) */
    --kc-error-color: #FF6F61; /* Error color */
}

/* Global styles */
html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--kc-main-bg);
    color: var(--kc-main-text);
}

.container {
    max-width: 100%;
    padding: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--kc-navbar-bg);
    color: var(--kc-navbar-text);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.nav-brand {
    flex-shrink: 0;
}

.nav-menu {
    list-style: none;
    display: flex;
    margin-bottom: 0;
}

.nav-item {
    margin-left: 1rem;
}

.navbar-nav {
    margin-left: auto;
}

.nav-link:hover {
    color: var(--kc-accent-text);
}

.kc-footer {
    background-color: var(--kc-footer-bg);
    color: var(--kc-secondary-text);
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media only screen and (max-width: 480px) {
    .bg-img {
        background-size: cover;
        background-position: center;
    }

    .index-header {
        height: 100vh;
    }

    .index-prime-head {
        font-size: 2rem;
        white-space: normal;
    }

        .index-prime-head br {
            display: inline;
        }

        .index-prime-head span {
            display: inline-block;
            overflow: hidden;
            border-right: .15em solid var(--kc-accent-text);
            white-space: nowrap;
            animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
        }

    .index-sec-head {
        font-size: 1rem;
    }

    .index-btn {
        font-size: 1rem;
        padding: 0.8rem 1.5rem;
    }

    .content {
        grid-template-columns: 1fr;
        margin-top: 3rem;
    }

    .artist {
        width: 100%;
        height: auto;
    }

    .about-description {
        grid-column: auto;
        margin-top: 2rem;
    }

    .work-gallery {
        grid-template-columns: 1fr;
    }

    .contact-details,
    .contact-form {
        flex-basis: 100%;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .bg-img {
        background-size: cover;
        background-position: center;
    }

    .index-prime-head {
        font-size: 2.5rem;
        white-space: nowrap;
    }

        .index-prime-head br {
            display: none;
        }

        .index-prime-head span {
            display: inline-block;
            overflow: hidden;
            border-right: .15em solid var(--kc-accent-text);
            white-space: nowrap;
            animation: typing 3.5s steps(40, end), blink-caret .75s step-end infinite;
        }

    .index-sec-head {
        font-size: 1.5rem;
    }

    .index-btn {
        font-size: 1.1rem;
        padding: 1rem 2rem;
    }

    .content {
        grid-template-columns: repeat(2, 1fr);
    }

    .artist {
        width: 100%;
        height: auto;
    }

    .about-description {
        grid-column: span 2;
    }

    .work-gallery {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .bg-img {
        background-size: cover;
        background-position: center;
    }

    .index-prime-head {
        font-size: 2.5rem;
    }

    .index-sec-head {
        font-size: 1.8rem;
    }

    .index-btn {
        font-size: 1.2rem;
        padding: 1rem 2rem;
    }

    .content {
        grid-template-columns: repeat(3, 1fr);
    }

    .artist {
        width: 371px;
        height: 247px;
    }

    .about-description {
        grid-column: 2;
    }

    .work-gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .index-prime-head {
        font-size: 3rem;
    }

    .index-sec-head {
        font-size: 2rem;
    }

    .index-btn {
        font-size: 1.2rem;
        padding: 1rem 2rem;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .content {
        max-width: 1200px;
    }
}